<h3>Listado de clientes</h3>

<p class="mt-4">
  <button
  [routerLink]="['agregar']"
  type="button"
  class="btn btn-primary"
>Agregar Cliente</button>
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Telefono</th>
    <th scope="col">Correo</th>
    <th scope="col">Nit</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cliente of CLIENTES; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ cliente.nombre }}</td>
    <td>{{ cliente.apellidos }}</td>
    <td>{{ cliente.telefono| mask: '0000-0000'}}</td>
    <td>{{ cliente.correo }}</td>
    <td>{{ cliente.nit| mask: '0000-000000-000-0'}}</td>
    <td>
      <button
        routerLink="mostrar/{{cliente.id}}"
        type="button"
        class="btn btn-secondary"
      >Editar</button>
    </td>
  </tr>
  </tbody>
</table>
