<p>lista-clientes works!</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Telefono</th>
    <th scope="col">Correo</th>
    <th scope="col">Nit</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cliente of CLIENTES; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ cliente.nombre }}</td>
    <td>{{ cliente.apellidos }}</td>
    <td>{{ cliente.telefono }}</td>
    <td>{{ cliente.correo }}</td>
    <td>{{ cliente.nit }}</td>
    <td>
      <button
        (click)="editar(cliente.id)"
        type="button"
        class="btn btn-primary"
      >Editar</button>
    </td>
  </tr>
  </tbody>
</table>
