<header>
  <div class="container mb-4">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/">Mi Tienda</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-item nav-link"
            routerLink="productos"
            >Productos <span class="sr-only">(current)</span>
          </a>
          <a
            class="nav-item nav-link"
            routerLink="clientes"
          >Clientes</a>
          <a
            class="nav-item nav-link"
            routerLink="ordenes"
          >Ordenes</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="container -full-height">
  <router-outlet></router-outlet>
</div>
<app-estado></app-estado>
<app-notificacion aria-live="polite" aria-atomic="true"></app-notificacion>

<footer></footer>
